<div class="blog-post">
  <div class="blog-title-button">
  <h2 class="blog-post-title"><%= link_to blog.title.upcase,  blog, class: "btn btn-xl btn-info blog_post_title" %></h2>
</div>
  
  <p class="blog-post-meta published-time">Published <%=  distance_of_time_in_words(blog.created_at, Time.now) %> ago</p>

  <%= render partial: 'blogs/admin_actions', locals: { blog: blog } %>

  <p class= "blog-body">

  	<%= markdown blog.body %>
  </p>
</div>
