<div class="col-sm-8 blog-main">

<h1 class="topic-title">Topics</h1>
<hr>


	<span><%= render @topics %></span>


  <%= link_to "Blogs", blogs_path, class: "btn btn-sm btn-none btn-block blog-home" %>
</div>
