<div class="blog-header">
  <div class="container">

    <span>
    <%= link_to 'Write A New Blog', new_blog_path, class: 'btn btn-md btn-info admin-nav' if logged_in?(:site_admin) %>
    </span>
    
    <span>
    <%= link_to "Topics", topics_path, class: 'btn btn-md btn-info admin-nav' %>
    </span>
  </div>
</div>
