<footer class="text-muted">
  <div class="container">
    <p class="float-right ">
     <%= link_to "View All Portfolio Items", portfolios_path, class: "portfolio-link" %> /
      <a href="#" class= "portfolio-link">Back to top</a>
      </p>
       <p>
    	<%= copyright_generator %>
    </p>
  </div>
</footer>
