<section class="jumbotron text-center">
<div class="container">
  <h1 class="jumbotron-heading">Portfolio</h1>
  <p class="lead text-muted"></p>
  <hr>
  <p>
    <%= link_to 'Home', root_path, class: 'btn btn-secondary button-link' %>
    <%= link_to 'My Blogs', blogs_path, class: 'btn btn-secondary button-link' %>
  </p>
</div>
</section>
