<h1>About Me</h1>

<hr> 

<div class="row">
 <div class="col-md-4">

   <%= image_tag "Squirrel.jpg", width: 300, height: 350, alt: "squirrel" %>
 </div>
 <div class="col-md-8">
 			<p>I'm a man without conviction,
			I'm a man who doesn't know
			How to sale a contradiction
			You come and go, you come and go
			Karma, karma, karma, karma, karma chameleon</p>
 </div>
</div>

