<div class="app-card-container" >
	<div class="card about-card">
		<h1>About Me</h1>

			<hr>

			<div class="row">
	 		<div class="col-md-4">

	   	<%= image_tag "mckaid.png", width: 325, height: 400, alt: "avatar", class: 'profileimg' %>
		 	</div>
	 		<div class="col-md-8">
				<hr>
	 			<p class= "about-text">	&emsp; I'm 22, currently enrolled in a dev bootcamp course Bottega. I've loved the idea of development eversense I was first introduced to it, I have always thought that It was to complicated for me. But after becoming more familier with it, it has become alot easier to understand concepts and rules to programming. My goal is to increase my skill and knowledge level day by day, to better myself as a developer and to help others realize its not all that scary to get into. </p>
		 </div>
		</div>
	</div>
</div>
