<div class="inner cover">
  <h1 class="cover-heading"></h1>
      <p class="lead entrance">“Life is like riding a bicycle. <br>To keep your balance you must keep moving.” <br> – Albert Einstein</p>
      <p class="lead">
    <%= link_to 'About', about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>


        