<div class="inner cover">
  <h1 class="cover-heading">Ahhhh Megatron!!</h1>
      <p class="lead entrance">Autobots roll the freak out!!!</p>
      <p class="lead">
    <%= link_to 'About', about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>


        