@import "bootstrap";
@import "jquery-ui";
@import "gritter";

body {
  font-family: "tahoma";
  min-height: 75rem;
  background: #f2f2f2; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,   #d9d9d9 0%, #f2f2f2 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #d9d9d9), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,   #d9d9d9 0%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,   #d9d9d9 0%,#f2f2f2 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,   #d9d9d9 0%,#f2f2f2 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,   #d9d9d9 0%,#f2f2f2 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=' #d9d9d9', endColorstr='#f2f2f2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient *//* Can be removed; just added for demo purposes */
}

.navbar {
  margin-bottom: 0;

}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;


}

.jumbotron p:last-child {
  margin-bottom: 0;
  }

.jumbotron-heading {
  font-weight: 700;
  color: #5F9EA0;
  font-size: 3em;

}

.jumbotron .container {
  max-width: 40rem;

}

.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

.card {
  float: left;
  width: 100%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

/*
 * Custom
 */

.portfolio-container {
  padding-top: 30px;
}

.more-info {
  color: #5F9EA0;
}

.item-link {
  color: #5F9EA0;
}

.button-link {
  color: #5F9EA0;
  background-color: #e6e6e6;
}

.portfolio-links {
  color: #5F9EA0;
}

.portfolio-links:hover {
  background-color: grey;
  color: white;
}

.portfolio-link {
  color: #5F9EA0;

}


/* Nav links */
.nav-link {
  position: relative;
  padding: 1rem;
  font-weight: 700;
  color: #cdddeb;
  font-size: 1.1em;
  text-align: center;

}
.nav-link:hover,
.nav-link:focus {
  color: #fff;
  background-color: transparent;
}

/* Active state gets a caret at the bottom */
.nav-link.active {
  color: #fff;
}
.nav-link.active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -.3rem;
  vertical-align: middle;
  content: "";
  border-right: .3rem solid transparent;
  border-bottom: .3rem solid;
  border-left: .3rem solid transparent;
}



.portfolio-new {
  margin-bottom: 15px;
  background-color: #5F9EA0;
  color: white;
  margin-top: 25px;
  border: 1px solid #5F9EA0;
  text-align: center;


}

.portfolio-new:hover {
  background-color: grey;
  border: 1px solid grey;
  color: white;
}

.portfolio-div {
  text-align: center;
}
